.dropdown-selector-container {
    position: absolute;
    opacity: .9;
    margin-top: 205px;
    margin-left: -18px;
    width: 240px;
    height: 340px;
    background-color: whitesmoke;
    color: black;
}